*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");

  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  min-height:100vh;
  color:white;
}

.overlay{
  padding:30px;
}

h1{
  text-align:center;
  margin-bottom:30px;
  font-size:45px;
  color:#ffe600;
  text-shadow:2px 2px 10px black;
}

.section{
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  padding:25px;
  border-radius:20px;
  margin-bottom:30px;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.section h2{
  margin-bottom:20px;
  color:#00ffd5;
}

.subject-card{
  background:rgba(0,0,0,0.4);
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
}

.subject-card h3{
  margin-bottom:15px;
  color:#ffd700;
}

.button-group{
  display:flex;
  gap:15px;
  margin-bottom:15px;
  flex-wrap:wrap;
}

button{
  border:none;
  padding:12px 22px;
  border-radius:12px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
  font-weight:bold;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

button:hover{
  transform:translateY(-3px) scale(1.05);
}

.present-btn{
  background:linear-gradient(45deg,#00ff99,#00cc66);
  color:black;
}

.absent-btn{
  background:linear-gradient(45deg,#ff4d4d,#cc0000);
  color:white;
}

.pdf-btn{
  background:linear-gradient(45deg,#00bfff,#0044ff);
  color:white;
  width:100%;
  padding:18px;
  font-size:20px;
}

.stats{
  margin-top:10px;
  line-height:30px;
}

.history{
  margin-top:10px;
  background:rgba(255,255,255,0.1);
  padding:10px;
  border-radius:10px;
  max-height:150px;
  overflow-y:auto;
}

.history p{
  margin-bottom:5px;
}

.summary-section{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.summary-box{
  background:rgba(0,0,0,0.4);
  padding:20px;
  border-radius:15px;
}

@media(max-width:768px){

  .summary-section{
    grid-template-columns:1fr;
  }

  h1{
    font-size:32px;
  }

}
.clear-btn{
  background:linear-gradient(45deg,#ffcc00,#ff8800);
  color:black;
}